<ion-content [fullscreen]="true">
  

  <ion-img src="assets/imagenes/Interfaz_User_B.jpeg"></ion-img>

  <ion-button id="est1" (click)="toggleCard()" (click)="enviarIdUnico('B',1,1)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard}" sector="B" fila="1" columna="1" ></app-ubicacion2>

  <ion-button id="est2" (click)="toggleCard1()" (click)="enviarIdUnico('B',1,2)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard1}" sector="B" fila="1" columna="2" ></app-ubicacion2>

  <ion-button id="est3" (click)="toggleCard2()" (click)="enviarIdUnico('B',1,3)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard2}" sector="B" fila="1" columna="3" ></app-ubicacion2>

  <ion-button id="est4" (click)="toggleCard3()" (click)="enviarIdUnico('B',1,4)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard3}" sector="B" fila="1" columna="4" ></app-ubicacion2>

  <ion-button id="est5" (click)="toggleCard4()" (click)="enviarIdUnico('B',1,5)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard4}" sector="B" fila="1" columna="5" ></app-ubicacion2>

  <ion-button id="est6" (click)="toggleCard5()" (click)="enviarIdUnico('B',1,6)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard5}" sector="B" fila="1" columna="6" ></app-ubicacion2>

  <ion-button id="est7" (click)="toggleCard6()" (click)="enviarIdUnico('B',1,7)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard6}" sector="B" fila="1" columna="7" ></app-ubicacion2>

  <ion-button id="est8" (click)="toggleCard7()" (click)="enviarIdUnico('B',1,8)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard7}" sector="B" fila="1" columna="8" ></app-ubicacion2>

  <ion-button id="est9" (click)="toggleCard8()" (click)="enviarIdUnico('B',1,9)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard8}" sector="B" fila="1" columna="9" ></app-ubicacion2>
  
  <ion-button id="est10" (click)="toggleCard9()" (click)="enviarIdUnico('B',1,10)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard9}" sector="B" fila="1" columna="10" ></app-ubicacion2>

  <ion-button id="est11" (click)="toggleCard10()" (click)="enviarIdUnico('B',1,11)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard10}" sector="B" fila="1" columna="11" ></app-ubicacion2>

  <ion-button id="est12" (click)="toggleCard11()" (click)="enviarIdUnico('B',1,12)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard11}" sector="B" fila="1" columna="12" ></app-ubicacion2>

  <ion-button id="est13" (click)="toggleCard12()" (click)="enviarIdUnico('B',1,13)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard12}" sector="B" fila="1" columna="13" ></app-ubicacion2>

  <ion-button id="est14" (click)="toggleCard13()" (click)="enviarIdUnico('B',1,14)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard13}" sector="B" fila="1" columna="14" ></app-ubicacion2>

  <ion-button id="est15" (click)="toggleCard14()" (click)="enviarIdUnico('B',1,15)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard14}" sector="B" fila="1" columna="15" ></app-ubicacion2>

  <ion-button id="est16" (click)="toggleCard15()" (click)="enviarIdUnico('B',1,16)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard15}" sector="B" fila="1" columna="16" ></app-ubicacion2>

  <ion-button id="est17" (click)="toggleCard16()" (click)="enviarIdUnico('B',1,17)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard16}" sector="B" fila="1" columna="17" ></app-ubicacion2>

  <ion-button id="est18" (click)="toggleCard17()" (click)="enviarIdUnico('B',1,18)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard17}" sector="B" fila="1" columna="18" ></app-ubicacion2>

  <ion-button id="est19" (click)="toggleCard18()" (click)="enviarIdUnico('B',2,1)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard18}" sector="B" fila="2" columna="1" ></app-ubicacion2>

  <ion-button id="est20" (click)="toggleCard19()" (click)="enviarIdUnico('B',2,2)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard19}" sector="B" fila="2" columna="2" ></app-ubicacion2>

  <ion-button id="est21" (click)="toggleCard20()" (click)="enviarIdUnico('B',2,3)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard20}" sector="B" fila="2" columna="3" ></app-ubicacion2>
  
  <ion-button id="est22" (click)="toggleCard21()" (click)="enviarIdUnico('B',2,4)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard21}" sector="B" fila="2" columna="4" ></app-ubicacion2>

  <ion-button id="est23" (click)="toggleCard22()" (click)="enviarIdUnico('B',2,5)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard22}" sector="B" fila="2" columna="5" ></app-ubicacion2>

  <ion-button id="est24" (click)="toggleCard23()" (click)="enviarIdUnico('B',2,6)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard23}" sector="B" fila="2" columna="6" ></app-ubicacion2>

  <ion-button id="est25" (click)="toggleCard24()" (click)="enviarIdUnico('B',2,7)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard24}" sector="B" fila="2" columna="7" ></app-ubicacion2>

  <ion-button id="est26" (click)="toggleCard25()" (click)="enviarIdUnico('B',2,8)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard25}" sector="B" fila="2" columna="8" ></app-ubicacion2>

  <ion-button id="est27" (click)="toggleCard26()" (click)="enviarIdUnico('B',2,9)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard26}" sector="B" fila="2" columna="9" ></app-ubicacion2>

  <ion-button id="est28" (click)="toggleCard27()" (click)="enviarIdUnico('B',2,10)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard27}" sector="B" fila="2" columna="10" ></app-ubicacion2>

  <ion-button id="est29" (click)="toggleCard28()" (click)="enviarIdUnico('B',2,11)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard28}" sector="B" fila="2" columna="11" ></app-ubicacion2>

  <ion-button id="est30" (click)="toggleCard29()" (click)="enviarIdUnico('B',2,12)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard29}" sector="B" fila="2" columna="12" ></app-ubicacion2>

  <ion-button id="est31" (click)="toggleCard30()" (click)="enviarIdUnico('B',2,13)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard30}" sector="B" fila="2" columna="13" ></app-ubicacion2>

  <ion-button id="est32" (click)="toggleCard31()" (click)="enviarIdUnico('B',2,14)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard31}" sector="B" fila="2" columna="14" ></app-ubicacion2>

  <ion-button id="est33" (click)="toggleCard32()" (click)="enviarIdUnico('B',2,15)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard32}" sector="B" fila="2" columna="15" ></app-ubicacion2>

  <ion-button id="est34" (click)="toggleCard33()" (click)="enviarIdUnico('B',2,16)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard33}" sector="B" fila="2" columna="16" ></app-ubicacion2>

  <ion-button id="est35" (click)="toggleCard34()" (click)="enviarIdUnico('B',2,17)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard34}" sector="B" fila="2" columna="17" ></app-ubicacion2>

  <ion-button id="est36" (click)="toggleCard35()" (click)="enviarIdUnico('B',2,18)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard35}" sector="B" fila="2" columna="18" ></app-ubicacion2>

  <ion-button id="est37" (click)="toggleCard36()" (click)="enviarIdUnico('B',2,19)" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion2 [ngClass]="{'oculto': !mostrarCard36}" sector="B" fila="2" columna="19" ></app-ubicacion2>

</ion-content>

