ion-img{
  position: fixed;  
}

.oculto {
  display: none;
}
  
.ocultar {
  visibility: hidden;
}

#est1{
  position: fixed;
  left: 12.5rem;
  top: 11.5rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est2{
  position: fixed;
  left: 15.6rem;
  top: 11.5rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est3{
  position: fixed;
  left: 18.8rem;
  top: 11.5rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est4{
  position: fixed;
  left: 22rem;
  top: 11.5rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est5{
  position: fixed;
  left: 25.2rem;
  top: 11.5rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est6{
  position: fixed;
  left: 28.3rem;
  top: 11.5rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est7{
  position: fixed;
  left: 31.5rem;
  top: 11.5rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est8{
  position: fixed;
  left: 34.7rem;
  top: 11.5rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est9{
  position: fixed;
  left: 37.8rem;
  top: 11.5rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est10{
  position: fixed;
  left: 41rem;
  top: 11.5rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est11{
  position: fixed;
  left: 44.2rem;
  top: 11.5rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est12{
  position: fixed;
  left: 47.3rem;
  top: 11.5rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est13{
  position: fixed;
  left: 50.4rem;
  top: 11.5rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est14{
  position: fixed;
  left: 56.6rem;
  top: 11.5rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est15{
  position: fixed;
  left: 59.8rem;
  top: 11.5rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est16{
  position: fixed;
  left: 63rem;
  top: 11.5rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est17{
  position: fixed;
  left: 66.2rem;
  top: 11.5rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est18{
  position: fixed;
  left: 69.3rem;
  top: 11.5rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est19{
  position: fixed;
  left: 7.3rem;
  top: 34.6rem;
  width: 49px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est20{
  position: fixed;
  left: 10.6rem;
  top: 34.6rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est21{
  position: fixed;
  left: 13.8rem;
  top: 34.6rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est22{
  position: fixed;
  left: 17rem;
  top: 34.6rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est23{
  position: fixed;
  left: 20.2rem;
  top: 34.6rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est24{
  position: fixed;
  left: 23.4rem;
  top: 34.6rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est25{
  position: fixed;
  left: 26.6rem;
  top: 34.6rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est26{
  position: fixed;
  left: 29.8rem;
  top: 34.6rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est27{
  position: fixed;
  left: 33rem;
  top: 34.6rem;
  width: 46px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est28{
  position: fixed;
  left: 36.1rem;
  top: 34.6rem;
  width: 47px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est29{
  position: fixed;
  left: 39.2rem;
  top: 34.6rem;
  width: 48px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est30{
  position: fixed;
  left: 42.4rem;
  top: 34.6rem;
  width: 47px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est31{
  position: fixed;
  left: 45.5rem;
  top: 34.6rem;
  width: 47px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est32{
  position: fixed;
  left: 48.8rem;
  top: 34.6rem;
  width: 47px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est33{
  position: fixed;
  left: 51.9rem;
  top: 34.6rem;
  width: 47px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est34{
  position: fixed;
  left: 55rem;
  top: 34.6rem;
  width: 47px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est35{
  position: fixed;
  left: 58.2rem;
  top: 34.6rem;
  width: 47px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est36{
  position: fixed;
  left: 61.4rem;
  top: 34.6rem;
  width: 47px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}

#est37{
  position: fixed;
  left: 64.5rem;
  top: 34.6rem;
  width: 47px;
  height: 152px;
  --background: rgba(40, 219, 94, 0.5);
}