ion-img{
    position: fixed;  
}

.oculto {
    display: none;
  }
  
.ocultar {
    visibility: hidden;
}

#est1{
  position: fixed;
  left: 24.2rem;
  top: 11rem;
  width: 73px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est2{
  position: fixed;
  left: 29.1rem;
  top: 11rem;
  width: 73px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est3{
  position: fixed;
  left: 33.9rem;
  top: 11rem;
  width: 73px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est4{
  position: fixed;
  left: 38.7rem;
  top: 11rem;
  width: 73px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est5{
  position: fixed;
  left: 43.6rem;
  top: 11rem;
  width: 73px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est6{
  position: fixed;
  left: 48.4rem;
  top: 11rem;
  width: 73px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est7{
  position: fixed;
  left: 53.2rem;
  top: 11rem;
  width: 73px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est8{
  position: fixed;
  left: 58rem;
  top: 11rem;
  width: 73px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est9{
  position: fixed;
  left: 24.2rem;
  top: 20.3rem;
  width: 73px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est10{
  position: fixed;
  left: 29.1rem;
  top: 20.3rem;
  width: 73px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est11{
  position: fixed;
  left: 33.9rem;
  top: 20.3rem;
  width: 73px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est12{
  position: fixed;
  left: 38.7rem;
  top: 20.3rem;
  width: 73px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est13{
  position: fixed;
  left: 43.6rem;
  top: 20.3rem;
  width: 73px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est14{
  position: fixed;
  left: 48.4rem;
  top: 20.3rem;
  width: 73px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est15{
  position: fixed;
  left: 53.2rem;
  top: 20.3rem;
  width: 73px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est16{
  position: fixed;
  left: 58rem;
  top: 20.3rem;
  width: 73px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est17{
  position: fixed;
  left: 9.7rem;
  top: 32.5rem;
  width: 68px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est18{
  position: fixed;
  left: 14.2rem;
  top: 32.5rem;
  width: 68px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est19{
  position: fixed;
  left: 18.6rem;
  top: 32.5rem;
  width: 68px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est20{
  position: fixed;
  left: 23.1rem;
  top: 32.5rem;
  width: 68px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est21{
  position: fixed;
  left: 27.5rem;
  top: 32.5rem;
  width: 68px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est22{
  position: fixed;
  left: 32rem;
  top: 32.5rem;
  width: 68px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est23{
  position: fixed;
  left: 36.4rem;
  top: 32.5rem;
  width: 66px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est24{
  position: fixed;
  left: 40.7rem;
  top: 32.5rem;
  width: 68px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est25{
  position: fixed;
  left: 45.2rem;
  top: 32.5rem;
  width: 67px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est26{
  position: fixed;
  left: 49.6rem;
  top: 32.5rem;
  width: 66px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est27{
  position: fixed;
  left: 54rem;
  top: 32.5rem;
  width: 66px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}

#est28{
  position: fixed;
  left: 58.4rem;
  top: 32.5rem;
  width: 66px;
  height: 145px;
  --background: rgba(40, 219, 94, 0.5);
}