ion-img{
    position: fixed;  
}

.oculto {
    display: none;
  }
  
.ocultar {
    visibility: hidden;
}

#est1{
  position: fixed;
  left: 24.2rem;
  top: 11rem;
  width: 73px;
  height: 145px;
}

#est2{
  position: fixed;
  left: 29.1rem;
  top: 11rem;
  width: 73px;
  height: 145px;
}