<ion-content [fullscreen]="true">

  <ion-img src="assets/imagenes/Interfaz_User_A.jpeg"></ion-img>

  <ion-button id="est1" (click)="toggleCard()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard}" sector="A" fila="1" columna="1" ></app-ubicacion>

  <ion-button id="est2" (click)="toggleCard1()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard1}" sector="A" fila="1" columna="2" ></app-ubicacion>

  <ion-button id="est3" (click)="toggleCard2()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard2}" sector="A" fila="1" columna="3" ></app-ubicacion>

  <ion-button id="est4" (click)="toggleCard3()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard3}" sector="A" fila="1" columna="4" ></app-ubicacion>

  <ion-button id="est5" (click)="toggleCard4()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard4}" sector="A" fila="1" columna="5" ></app-ubicacion>

  <ion-button id="est6" (click)="toggleCard5()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard5}" sector="A" fila="1" columna="6" ></app-ubicacion>

  <ion-button id="est7" (click)="toggleCard6()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard6}" sector="A" fila="1" columna="7" ></app-ubicacion>

  <ion-button id="est8" (click)="toggleCard7()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard7}" sector="A" fila="1" columna="8" ></app-ubicacion>

  <ion-button id="est9" (click)="toggleCard8()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard8}" sector="A" fila="2" columna="1" ></app-ubicacion>
  
  <ion-button id="est10" (click)="toggleCard9()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard9}" sector="A" fila="2" columna="2" ></app-ubicacion>

  <ion-button id="est11" (click)="toggleCard10()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard10}" sector="A" fila="2" columna="3" ></app-ubicacion>

  <ion-button id="est12" (click)="toggleCard11()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard11}" sector="A" fila="2" columna="4" ></app-ubicacion>

  <ion-button id="est13" (click)="toggleCard12()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard12}" sector="A" fila="2" columna="5" ></app-ubicacion>

  <ion-button id="est14" (click)="toggleCard13()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard13}" sector="A" fila="2" columna="6" ></app-ubicacion>

  <ion-button id="est15" (click)="toggleCard14()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard14}" sector="A" fila="2" columna="7" ></app-ubicacion>

  <ion-button id="est16" (click)="toggleCard15()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard15}" sector="A" fila="2" columna="8" ></app-ubicacion>

  <ion-button id="est17" (click)="toggleCard16()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard16}" sector="A" fila="3" columna="1" ></app-ubicacion>

  <ion-button id="est18" (click)="toggleCard17()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard17}" sector="A" fila="3" columna="2" ></app-ubicacion>

  <ion-button id="est19" (click)="toggleCard18()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard18}" sector="A" fila="3" columna="3" ></app-ubicacion>

  <ion-button id="est20" (click)="toggleCard19()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard19}" sector="A" fila="3" columna="4" ></app-ubicacion>

  <ion-button id="est21" (click)="toggleCard20()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard20}" sector="A" fila="3" columna="5" ></app-ubicacion>
  
  <ion-button id="est22" (click)="toggleCard21()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard21}" sector="A" fila="3" columna="6" ></app-ubicacion>

  <ion-button id="est23" (click)="toggleCard22()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard22}" sector="A" fila="3" columna="7" ></app-ubicacion>

  <ion-button id="est24" (click)="toggleCard23()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard23}" sector="A" fila="3" columna="8" ></app-ubicacion>

  <ion-button id="est25" (click)="toggleCard24()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard24}" sector="A" fila="3" columna="9" ></app-ubicacion>

  <ion-button id="est26" (click)="toggleCard25()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard25}" sector="A" fila="3" columna="10" ></app-ubicacion>

  <ion-button id="est27" (click)="toggleCard26()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard26}" sector="A" fila="3" columna="11" ></app-ubicacion>

  <ion-button id="est28" (click)="toggleCard27()" [ngClass]="{'ocultar': ocultarBoton}"> </ion-button>
  <app-ubicacion [ngClass]="{'oculto': !mostrarCard27}" sector="A" fila="3" columna="12" ></app-ubicacion>

  
</ion-content>
