<ion-content>

  <ion-img src="assets/imagenes/Interfaz_User_A.jpg"></ion-img>

  <ion-card>

    <img src="../../assets/imagenes/Logo_Se1.png" alt="SEGUES">

    <ion-card-header>

      <ion-grid>
        <ion-row>
          <ion-col class="fija">Sector:</ion-col>

          <ion-col class="variables">{{sector}}</ion-col>

        </ion-row>
        <ion-row>
          <ion-col class="fija">Fila:</ion-col>

          <ion-col class="variables">{{fila}}</ion-col>

        </ion-row>
        <ion-row>
          <ion-col class="fija">Columna:</ion-col>

          <ion-col class="variables">{{columna}}</ion-col>
          
        </ion-row>
      </ion-grid>

    </ion-card-header>

    <ion-card-content>

      <a href="../confirmar/"><ion-button>Confirmar</ion-button></a>

    </ion-card-content>


  </ion-card>
</ion-content>


