ion-img{
    position: fixed;  
}

.btn_a{
    --background: rgba(232, 207, 207, 0.50);
    width: 545px;
    height: 800px; 
    border: 5px solid rgb(190, 26, 26);
    color: rgba(0, 0, 0, 0.60);
    font-size: 100px;
    font-weight: 800;
}
.btn_b{
    --background: rgba(232, 207, 207, 0.50);
    width: 725px;
    height: 800px; 
    border: 5px solid rgb(190, 26, 26);
    color: rgba(0, 0, 0, 0.60);
    font-size: 100px;
    font-weight: 800;
}