<ion-content [fullscreen]="true">
  <div id="div-ionContent">

    <ion-card>

      <svg width="64" height="74" viewBox="0 0 64 74" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M64 25.7119V0L43.4787 12.5424L64 25.7119Z" fill="url(#paint0_linear_641_12)"/>
        <path d="M21.1984 61.7712L0.0907048 48.9153V74L21.1984 61.7712Z" fill="url(#paint1_linear_641_12)"/>
        <path d="M7.91537 14.1102C6.74272 12.8559 4.29269 8.77966 3.31549 6.8983C2.63144 8.25706 1.14609 11.4763 0.677028 13.4831C0.0907046 15.9915 -0.495619 18.8136 0.677028 24.7712C1.84968 30.7288 6.80476 33.8807 7.12659 34.4915C7.62221 35.4322 18.5599 41.1808 24.4231 44.2119C33.6089 48.8107 50.9195 56.4407 53.0623 58.0085C54.0493 58.7306 58.6324 62.3983 59.805 66.4746C60.6845 65.5339 61.7099 64.9889 63.0298 57.6949C64.7888 47.9746 60.3914 43.5847 60.0982 42.9576C59.3337 41.3223 47.1991 33.8644 45.7333 33.2373C44.3723 32.655 26.6777 24.1441 21.4008 21.9492C16.0957 19.7425 9.08802 15.3644 7.91537 14.1102Z" fill="url(#paint2_linear_641_12)"/>
        <defs>
        <linearGradient id="paint0_linear_641_12" x1="32.2478" y1="-17.2458" x2="32.2478" y2="85.6017" gradientUnits="userSpaceOnUse">
        <stop offset="0.263571" stop-color="#00E3AA"/>
        <stop offset="0.887617" stop-color="#00C2D5"/>
        </linearGradient>
        <linearGradient id="paint1_linear_641_12" x1="32.2478" y1="-17.2458" x2="32.2478" y2="85.6017" gradientUnits="userSpaceOnUse">
        <stop offset="0.263571" stop-color="#00E3AA"/>
        <stop offset="0.887617" stop-color="#00C2D5"/>
        </linearGradient>
        <linearGradient id="paint2_linear_641_12" x1="32.2478" y1="-17.2458" x2="32.2478" y2="85.6017" gradientUnits="userSpaceOnUse">
        <stop offset="0.263571" stop-color="#00E3AA"/>
        <stop offset="0.887617" stop-color="#00C2D5"/>
        </linearGradient>
        </defs>
        </svg>

      <ion-card-header>

        <div id="card-button">
          <ion-button class="btn_Login" href="login">Log in</ion-button>
          <ion-button class="btn_Signup" href="register">Sign up</ion-button>
        </div>

        <ion-label>Welcome to SEGUES</ion-label>

      </ion-card-header>
    
      <ion-card-content>

        <ion-input  type="email" label="E-mail"  labelPlacement="floating"
          helperText="Enter a valid e-mail" errorText="Invalid e-mail"
           ngModel        email        aria-label="Medium input" 
          color="medium"         placeholder="Medium input">
      </ion-input>

        <ion-input class="input2"  labelPlacement="floating" type="password" value="password" aria-label="Medium input" color="medium" placeholder="Medium input">
          <div slot="label">Password<ion-text color="danger"> (Required) </ion-text></div>
        </ion-input>

      </ion-card-content>

      <a href="panel-seguridad">
        <ion-button class="btn_Log">Log in</ion-button>
      </a>
      <ion-text>Forgot Password?</ion-text>

    </ion-card>
    
  </div>
</ion-content>
