ion-content{
    --background: none;
    background-image: url('https://images.unsplash.com/photo-1470224114660-3f6686c562eb?q=80&w=1335&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to bottom, transparent, black), url('https://images.unsplash.com/photo-1470224114660-3f6686c562eb?q=80&w=1335&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
#container::before{
    position: absolute;
    content: "";
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
}
#div-ionContent{
   display: flex;
   justify-content: center;
   align-items: center;
}
ion-card{ 
    background-color: transparent;
}
ion-card-header{
    background-color: black;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}
ion-card-title{
    color: white;
    font-size: 30px;
    font-weight: 700;
}
ion-card-subtitle{
    color: white;
    font-size: 1;
    font-weight: 700;
}
ion-row{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
ion-col{
    margin: 1rem;
}
.grid-label{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
}
ion-icon{
    font-size: 1.5rem;
    margin-right: 1rem;
}
.col-icon11{
    color: white;
}
.col-icon1{
    color:green;
}
.col-icon2{
    color:red;
}
#btn_Iglesia{
    --background: #FEFEFE;
}
.btn_DonBosco{
    --background: #FFF;
}
#btn_Cancha{
    --background: #FEFEFE;
} 
.button-panel{
    --border-radius: 50px;
    width: 5rem;
    height: 5rem;
    --background: white;
}
#boton-camara{
    margin-top: 2rem;
    --border-radius: 0;
    width: 100%;
    height: 5rem;
    --background: white;
    color: #000;

}
ion-card-content{
    background-color: transparent;
    height: 90%;
}
.img_centro{
    width: 2.5rem;
    margin-bottom: 0.5rem;
}
.col_img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0%;
    margin-bottom: 0.8rem;
}
.col_img2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0%;
    margin-right: 5rem;
}
.col_img1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0%;
    margin-left: 5rem;
}
.tit_text{
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    margin: 1rem; 
}
.text{
    color: rgba(0, 0, 0, 0.50);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    margin: 0%;
}
#card_CentroAyuda{
    background-color: white;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 71%;

}
ion-list-header {
    --background: #00000000;
    --color: #fff;
}
ion-list{
    border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	color: white
}
ion-item{
    --background: #00000000;
}
ion-item ion-label{
    display: flex;
    align-items: center;

}
ion-toast{
    --color: red;
}
ion-input{
    width: 20rem;
    margin-left: 1rem;
}
#save{
    margin-top: 1rem;
    width: 100%;
    height: 5%;
    --background: #ffffff;
     --color: rgb(0, 0, 0);
}
#save1{
    width: 100%;
    height: 5%;
    --background: #ffffff;
     --color: rgb(0, 0, 0);
}
#delate-account{
    margin-top: -1rem;
}
webcam{
    margin-top: 4rem;
    margin-left: 2rem;
    height: 100%;
}
//-----------------------------------------------------------------------------------------------------
.reloj {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 42%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.fecha,
.tiempo {
    margin-left: 1rem;
    letter-spacing: 0.1em;
    font-size: 22px;
}

body {
    width: 100%;
    height: 100vh;
    background: #2f0202;
    background: radial-gradient(ellipse at center, #5b720e 0%, #000000);
    background-size: 100%; 
}

p {
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ion-title{
    margin-left: 2rem;
    font-family: 'Share Tech Mono', monospace;
}
//-----------------------------------------------------------------------------------------------------
ion-accordion {
    margin: 0 auto;
} 
ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
    width: calc(100% - 32px);
    margin: 16px auto;
}

ion-accordion.accordion-collapsing ion-item[slot='header'],
ion-accordion.accordion-collapsed ion-item[slot='header'] {
    --background: var(--ion-color-light);
    --color: var(--ion-color-light-contrast);
}
ion-accordion.accordion-expanding ion-item[slot='header'],
ion-accordion.accordion-expanded ion-item[slot='header'] {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
}
.ion-padding1{
    height: 5rem;
}
.contraseñaIn{
    width: 14rem;
}
.select1{
    margin-left: 1rem;
}
.card-w{
    height: 10em;
}
.card-1{
    width: 24rem;
}
.icono{
    margin-left: 1rem;
    font-size: 1.5em;
}
.labelSub{
    font-size: 1rem;
}
.telf1{
    height: 10rem;
}
.select2{
    margin-top: -1.2rem;
}
