<ion-content [fullscreen]="true" id="container">
  <div id="div-ionContent">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Panel de Administracion</ion-card-title>
        <ion-card-subtitle>Fecha : 03 - 01 - 23 </ion-card-subtitle>
        <ion-card-subtitle>Hora  : 17:53</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        
        <ion-grid>
          <ion-row>
            <ion-col>
              <a href="">
                <ion-button id="btn_Iglesia">
                  <ion-img src="assets/imagenes/Bt_Iglesia.png"></ion-img>   
                </ion-button>
              </a>
            </ion-col>
            <ion-col>
              <ion-label class="grid-label">Sector A</ion-label>
              <ion-label class="grid-label">Iglesia</ion-label>
            </ion-col>
            <ion-col><ion-icon name="videocam" class="col-icon11"></ion-icon></ion-col>
            <ion-col><ion-icon name="checkmark-circle" class="col-icon1"></ion-icon></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <a href="">
                <ion-button class="btn_DonBosco">
                  <ion-img src="assets/imagenes/Bt_DonBosco.png"></ion-img>   
                </ion-button>
              </a>
            </ion-col>
            <ion-col>
              <ion-label class="grid-label">Sector A</ion-label>
              <ion-label class="grid-label">Av. Don Bosco</ion-label>
            </ion-col>
            <ion-col ><ion-icon name="videocam" class="col-icon11"></ion-icon></ion-col>
            <ion-col><ion-icon name="checkmark-circle" class="col-icon1"></ion-icon></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <a href="">
                <ion-button id="btn_Cancha">
                  <ion-img src="assets/imagenes/Bt_Cancha.png"></ion-img>   
                </ion-button>
              </a>
            </ion-col>
            <ion-col>
              <ion-label class="grid-label">Sector B</ion-label>
              <ion-label class="grid-label">Av. Don Bosco</ion-label>
            </ion-col>
            <ion-col><ion-icon name="videocam-off" class="col-icon11"></ion-icon></ion-col>
            <ion-col><ion-icon name="close-circle" class="col-icon2"></ion-icon></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <a href="">
                <ion-button class="btn_DonBosco">
                  <ion-img src="assets/imagenes/Bt_DonBosco.png"></ion-img>   
                </ion-button>
              </a>
            </ion-col>
            <ion-col>
              <ion-label class="grid-label">Sector B</ion-label>
              <ion-label class="grid-label">Av. Don Bosco</ion-label>
            </ion-col>
            <ion-col><ion-icon name="videocam" class="col-icon11"></ion-icon></ion-col>
            <ion-col><ion-icon name="checkmark-circle" class="col-icon1"></ion-icon></ion-col>
          </ion-row>

        </ion-grid>


      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Pa</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>